@import "_variables.scss";
@import "_keyframes.scss";

//Mochiy Pop P One

.nav {
  box-shadow: 0px 2px 5px black;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  max-height: 100%;
  background-color: white;
  border-bottom: solid 1px gray;
  .logo {
    margin-left: 1rem;
    color: black;
  }
  .menu-btn {
    margin-right: 1rem;
    cursor: pointer;
  }
  ul {
    display: none;
    flex-direction: column;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .linkedin-container{
      display: none;
  }
  .logo{
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}
  @include desktop{
      ul{
          display: flex;
          flex-direction: row;
          width: 80%;
          max-width: 1024px;
          margin: auto;
            justify-content: space-evenly;
            a{
      transition: all .5s ease;
            }
      }
      .close-btn{
          display: none;
      }
      .active{
          background-color: transparent;
          transform: none;
          box-shadow: none;
      }
      .menu-btn{
          display: none;
      }
      .linkedin-container{
          display: flex;
          margin-right: 1.5rem;
          color:color(linkedin);
          .linkedin{
              width: 30px;
              height: 30px;
          }
      }
  }

}
.mobile-active {
  position: absolute;
  z-index: $z-tooltip;
  height: 50vh;
  flex-direction: column;
  align-items: flex-start;
  ul {
    animation: slide-in 0.5s both;
    width: 100%;
    height: 80%;
    display: flex;
    li {
      transition: all .5s ease;
      align-items: center;
      display: flex;
      height: 20%;
      width: 100%;
      a {
        justify-content: center;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }
  }
  .logo {
    animation: slide-in 0.5s both;
    height: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .menu-btn {
    display: none;
    margin: 0;
    cursor: pointer;
  }
  //animation
}
.active {
  color: color(primary);
  background-color: #f6f6f6;
  transform: translateY(10px);
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.container-close {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bx-circle {
  cursor: pointer;
  height: 50%;
  width: 30px;
  height: 30px;
}
.bx-menu {
  width: 30px;
  height: 30px;
}
.primary{
    color: color(primary);
}
.secondary{
    color: color(secondary);
}
.tertiary{
    color: color(tertiary);
}
.exclamation{
  padding: 0.3rem;
    background: -webkit-linear-gradient(color(primary), color(secondary), color(tertiary));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.primary1{
  @extend .primary;
  animation: letters1 7s infinite;
}
.secondary1{
  @extend .secondary;
  animation: letters2 7s infinite;
}
.tertiary1{
  @extend .tertiary;
  animation: letters3 7s infinite;
}
.exclamation1{
   @extend .exclamation;
   background: linear-gradient(270deg, #ef476f, #ffd166, #06d6a0);
    background-size: 600% 600%;

    -webkit-animation: letters 5s ease infinite;
    -moz-animation: letters 5s ease infinite;
    -o-animation: letters 5s ease infinite;
    animation: letters 5s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
}