@import '_variables.scss';
.image{
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.card{
  padding: 1rem;
  border: 3px solid #111;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  width: 338px;
  margin-top: 2rem;
  background: #fff;
@include desktop{
  height: 450px;
  width: 340px;
}
}
.quote{
  font-style: italic;
}