@import '_variables.scss';

.title{
    span{
    font-size: $h1-font-size;
    @include desktop{
    font-size: $big-big-font;
    }
    }
}
.text{
    padding: 1rem;
    background: white;
    border-radius: 1rem;
    border: 3px solid black;
    font-size: $regular-font;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    @include desktop{
        width: auto;
    max-width: 1024px;
    }
}